.btn1{
    margin-left: 350px;

}
.cont1{
    min-width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background: linear-gradient(180deg, #f08, #d0e);
    border-radius: 10px;
    color:BLUE;
}