.main{
    background: linear-gradient(180deg, #f08, #d0e);
    border-radius: 10px;
    margin: 170px
}
.col-md-4{
    padding-top: 15px;
    padding-bottom: 15px;
    border-style:ridge;
    border-color: greenyellow;

}
.login{
    padding-top: 20px;
    font-weight: 800;
    color:blueviolet;
}
.premium{
    font-weight: 500;
    color:#FFFF66;
}

.ul2{
    border-width: 5px;
    border-style:double;
    border-color: #3b43de;
    color:black;
    padding-right: 10px;
}
.ul12{
    border-width: 5px;
    border-style:double;
    border-color: #3b43de;
    color:black;
    padding-left: 10px;
    margin-top: 104px;
    margin-left: 10px;
}
.li2{
    color: black;
    margin-left: 30px;
}
.li12{
    color: blue;
    margin-left: 30px;
}
.row1{
    display: flex;
}