@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.card1{
    background: linear-gradient(180deg, #f08, #3b43de);
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    color: rgb(110, 226, 43);
    padding-bottom: 20px;
}
.card1 .info1{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 30px 15px 30px;
}

.card1 .info1 p1{
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.card1 .info1 .title1 h3 {
    display: block;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 30px;
    font-weight: 1000;
    height: 8vh;
    width: 30vh; 
    text-align:center;
}

.card1 .columnleft1 {
    height: 5vh;
  float: left;
  width: 60%;
}

.card1 .columnright1 {
    height: 5vh;
  float: left;
  width: 40%;
}
.card1 .Length1 {
    text-align: right;
    color: black;
  }
  