
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.card{
    background: linear-gradient(180deg, #f08, #3b43de);
    width: 350px;
    height: 550px;
    border-radius: 10px;
    color: rgb(110, 226, 43);
}
.card .image > img{
    width: 100%;
    border-radius:10px;
    height: 350px;
}
.card .info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 30px 15px 30px;
}

.card .info p{
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.card .info .title h3 {
    display: block;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 30px;
    font-weight: 1000;
    height: 8vh;
    width: 30vh; 
    text-align:center;
}
.card .btn{
    display: flex;
    justify-content: space-around;
    border: none;
}
.card .btn button{
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    background: #060a1f;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor:pointer;
}

.card .columnleft {
    height: 5vh;
  float: left;
  width: 60%;
}

.card .columnright {
    height: 5vh;
  float: left;
  width: 40%;
}
.card .Length {
    text-align: right;
    color: black;
  }
  